@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body > div {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
body h1 {
    font-size: 16px;
    font-weight: 700;
}

div.top-bar {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid #FFFFFF;
    margin-bottom: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}
div.topbar img {
    width: 73px;
    height: 53px;
}
div.top-bar ion-icon {
    font-size: 45px;
}



section.chat {
    min-width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 80px;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
section.chat::-webkit-scrollbar {
    display: none;
}
section.chat div {
    min-height: 40px;
    height: auto;
    min-width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    overflow-y: auto;
}
section.chat div.msg {
    background-color: #FFFFFF;
}
section.chat div.status {
    background-color: #DCDCDC;
}
section.chat div.pvt-msg {
    background-color: #FFDEDE;
}
span.user, span.target {
    font-weight: 700;
    word-break: break-all;
}
span.time {
    color: #AAAAAA;
}
span.text {
    word-break: break-all;
}



div.msg-box {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.12);
}
div.msg-box input {
    width: 100vw;
    height: 74px;
    padding: 15px 55px 15px 15px;
    position: absolute;
    bottom: 3px;
    left: 0px;
    font-size: 18px;
    outline: none;
    border: none;
    resize: none;
}
div.msg-box input::placeholder {
    padding-top: 10px;
    color: #000000;
    font-style: italic;
}
div.msg-box input::value {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
div.msg-box input::-webkit-scrollbar {
    display: none;
}
div.msg-box ion-icon {
    font-size: 26px;
    position: absolute;
    bottom: 27px;
    right: 18px;
    z-index: 1;
}



div.side-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}
div.side-menu.hidden {
    display: none;
}
div.side-menu > div:nth-of-type(1) {
    background-color: #000000;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
}
div.side-menu > div:nth-of-type(2) {
    height: 100vh;
    width: 260px;
    background-color: #FFFFFF;
    opacity: 1.0;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px 20px 20px;
    font-size: 16px;
    overflow-y: scroll;
}
div.side-menu > div:nth-of-type(2) h1 {
    margin: 20px 0px;
}
div.side-menu > div:nth-of-type(2) li {
    display: flex;
    align-items: center;
    word-break: break-all;
}
div.side-menu > div:nth-of-type(2) li:hover {
    background-color: #F3F3F3;
    cursor: pointer;
}
div.side-menu > div:nth-of-type(2) li ion-icon {
    font-size: 25px;
    min-width: 25px;
    margin-right: 5px;
}
div.side-menu > div:nth-of-type(2) li.user ion-icon {
    color: #415dd6;
}

div.side-menu > div:nth-of-type(2) li ion-icon:last-of-type {
    position: absolute;
    right: 30px;
    color: green;
    opacity: 0;
}
div.side-menu > div:nth-of-type(2) li.selected ion-icon:last-of-type{
    opacity: 1;
}